<html>
  <head>
    <title>Make a Gossip</title>
  </head>
  <body>
    <h1>Make a Gossip !</h1>
    <p>Throw your Gossip here !!!</p> <%#form for make gossip #%>
    <form action='/gossips/new/' method='POST'>
      Puts you name here :  <input type='text' name='gossip_author'/>
      <br/>
      And you gossip here : <input type='text' name='gossip_content'/>
      <br/>
      <input type='submit'/>
    </form>
  </body>
</html>