<html>
  <head>
    <title>Gossip Page</title>
  </head>
  <body>
    <h1>Gossip Page !</h1>
    <p>
    This is Gossip page n° : <%= params['id'] %>
    <br/>
    Author name : <%= gossip.author %>
    <br/>
    This content : <% gossip.content %>
    <br/>
    <a href="/">Go home</a>
  </body>
</html>